$osg-color-beige: #f8f0dd;
$osg-color-beige-dark: #d0bfae;
$osg-color-black: #2c2c2c;
$osg-color-blue: #6fe9ff;
$osg-color-blue-dark: #2a2859;
$osg-color-blue-hover: #1f42aa;
$osg-color-blue-light: #b3f5ff;
$osg-color-green: #43f8b6;
$osg-color-green-dark: #034b45;
$osg-color-green-light: #c7f6c9;
$osg-color-grey: #f2f2f2;
$osg-color-grey-light: #f9f9f9;
$osg-color-purple-visited: #8d50b1;
$osg-color-purple-visited-light: #e0adff;
$osg-color-red: #ff8274;
$osg-color-yellow: #f9c66b;

$color-bg: #f3f3f5;
$color-border: #dae3e5;

$color-grey-50: #f7f7f7;
$color-grey-100: #e1e1e6;
$color-grey-200: #c6c6cc;
$color-grey-300: #adadb3;
$color-grey-400: #939399;
$color-grey-500: #797980;
$color-grey-600: #5e5e66;
$color-grey-700: #43434d;
$color-grey-800: #242433;
$color-grey-900: #0e0e1a;

$color-link: #0075eb;

